{% extends 'goodadmin/index.html' %}
{% load goodadmin_tags %}

{% block right-content %}
     {% if  querysets_ids %}
          <ol class="breadcrumb">
          <li><a href="/goodadmin/">Home</a></li>
          <li><a href="/goodadmin/{% get_app_name admin_class  %}">{% get_app_name admin_class  %}</a></li>
          <li><a href="/goodadmin/{% get_app_name admin_class  %}/{% get_model_name_min admin_class %}">{% get_model_verbose_name admin_class %}</a></li>
          <li class="active">批量删除</li>
      </ol>
    {% else %}
      <ol class="breadcrumb">
          <li><a href="/goodadmin/">Home</a></li>
          <li><a href="/goodadmin/{{ app_name }}">{{ app_name }}</a></li>
          <li><a href="/goodadmin/{{ app_name }}/{{ model_name }}">{% get_model_verbose_name admin_class %}</a></li>
          <li><a href="/goodadmin/{{ app_name }}/{{ model_name }}/{{ obj.id }}/change">{{ obj }}</a></li>
          <li class="active">删除-{{ obj }}</li>
      </ol>
        {% endif %}
<h2 class="page-header">{% get_model_name admin_class %}</h2>

<div class="myleft">
    <h4>是否删除 {{ obj }} ?</h4>

    {% for obj in objs %}
        {% display_all_related_objs obj as all_related_obj_eles %}
        {{ all_related_obj_eles|safe }}
    {% endfor %}


    <form method="post">{% csrf_token %}
        {% if querysets_ids %}
          <input type="hidden" name="selected_ids" value="{{ querysets_ids }}">

        {% endif %}
        <input type="submit" class="btn btn-danger" value="确认删除">

        {% if  querysets_ids %}

            <a href="/goodadmin/{% get_app_name admin_class  %}/{% get_model_name_min admin_class %}" class="btn btn-info">返回</a>

        {% else %}
             <a href="/goodadmin/{{ app_name }}/{{ model_name }}/{{ obj.id }}/change" class="btn btn-info">返回</a>
        {% endif %}


    </form>

 </div>



{% endblock %}
